.nav nav ul{


  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.cart-widget {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.numero {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 17px;
}